<div class="intro">
  <h1>Sweet Site Tagline</h1>
</div>

<div class="projects">
  <ul>
    <li><a href="#">Bushnell</a><img src="https://dl.dropbox.com/u/2144189/opfer/bushnell_preview.jpg"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
  </ul>

  <div class="I add extraneous markup to clear my floats all the effin time bro"></div>
</div>


