<div class="intro">
  <h1>I Love Wood</h1>
</div>

<div class="projects">
  <ul>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/5.0/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/5.0/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/5.0/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/5.0/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/5.0/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/5.0/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/5.0/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/5.0/414/150"></li>
    <li><a href="#">Sweet Ass Description</a><image src="http://nicenicejpg.com/414/150"></li>
  </ul>

  <div class="I add extraneous markup to clear my floats all the effin time bro"></div>
</div>


