<div class="intro">
  <h1>For the Love of Wood</h1>
</div>

<div class="projects">
  <ul class="cf">
    <li><a data-toggle="lightbox" href="#bushnellLightbox">Bushnell</a><img src="https://dl.dropbox.com/u/2144189/opfer/bushnell_preview.jpg"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
    <li><a href="#">Insert Quarter To Unlock</a><img src="https://dl.dropbox.com/u/2144189/opfer/blank_preview.png"></li>
  </ul>
</div>

<div id="bushnellLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
	<div class='lightbox-header'>
		<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
	</div>
	<div class='lightbox-content'>
		<img src="https://dl.dropbox.com/u/2144189/opfer/bushnell_original_smaller.jpg">
		<div class="lightbox-caption"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p></div>
	</div>
</div>
