@import "compass";

$preview_gutter: 15px;

$preview_1200_width: 510px;
$preview_1200_height: 170px;

$preview_980_width: 395px;
$preview_980_height: 132px;

$preview_768_width: 287px;
$preview_768_height: 96px;

$preview_small_width: 260px;
$preview_small_height: 87px;

.content {
  @include box-shadow(0 0 6px 2px rgba(0, 0, 0, .2));
}

.intro {
  background: #E4BD79;
  background-image: image-url('purty_wood.png');
  padding: 140px 0 100px;
  text-align: center;

  h1 {
    color: #333;
    font-size: 90px;
    font-family: "poetica-std", serif;
  }
}

.projects {
  padding: $preview_gutter;
  background: #333;
  @include background(radial-gradient(#777, #333));

  ul {
    list-style: none;
    margin: 0;

    li {
      position: relative;
      background-image: image-url('small_wood.png');
      padding: $preview_gutter;
      display: inline-block;
      margin: $preview_gutter;
      float: left;
      border-radius: 2px;
      text-align: center;

      img {
        background: white;
        border-radius: 2px;
      }

      a {
        display: none;
      }
    }

    li:hover {
      a {
        color: white;
        font-size: 1.5em;
        font-weight: 200;
        @include text-shadow(black 1px 1px 0px);
        background-color: rgba(0, 0, 0, .8);
        display: inline-block;
        position: absolute;
        top: $preview_gutter;
        left: $preview_gutter;
      }
    }
  }
}

footer {
  padding: 8px 0;
}

@media (min-width: 1200px) {
  .projects ul {
    li {
      width: $preview_1200_width + $preview_gutter + $preview_gutter;
      height: $preview_1200_height + $preview_gutter + $preview_gutter;

      img {
        width: $preview_1200_width;
        height: $preview_1200_height;
      }
    }

    li:hover a {
      height: $preview_1200_height;
      line-height: $preview_1200_height;
      width: $preview_1200_width;
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .projects ul {
    li {
      width: $preview_980_width + $preview_gutter + $preview_gutter;
      height: $preview_980_height + $preview_gutter + $preview_gutter;

      img {
        width: $preview_980_width;
        height: $preview_980_height;
      }
    }

    li:hover a {
      height: $preview_980_height;
      line-height: $preview_980_height;
      width: $preview_980_width;
    }
  }
}

@media (max-width: 979px) {
  .intro {
    padding: 60px 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-fixed-top {
    .container {
      width: 728px;
    }
  }

  .projects ul {
    li {
      width: $preview_768_width + $preview_gutter + $preview_gutter;
      height: $preview_768_height + $preview_gutter + $preview_gutter;

      img {
        width: $preview_768_width;
        height: $preview_768_height;
      }
    }

    li:hover a {
      height: $preview_768_height;
      line-height: $preview_768_height;
      width: $preview_768_width;
    }
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    margin: 0;
  }

  footer {
    padding-left: 10px;
  }

  body {
    padding: 0;
  }

  .intro {
    padding: 30px 0;

    h1 {
      font-size: 36px;
    }
  }

  .projects ul {
    li {
      margin-bottom: $preview_gutter + $preview_gutter;
      margin-left: auto;
      margin-right: auto;
      display: block;
      float: none;
      width: $preview_small_width + $preview_gutter + $preview_gutter;
      height: $preview_small_height + $preview_gutter + $preview_gutter;

      img {
        width: $preview_small_width;
        height: $preview_small_height;
      }
    }

    li:hover a {
      height: $preview_small_height;
      line-height: $preview_small_height;
      width: $preview_small_width;
    }
  }
}


